{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>登录- ZOL商城</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/public.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"/>
    <script src="{% static 'js/jquery-1.12.0.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/jquery.cookie.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/public.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/login.js' %}" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div class="top">
    <div class="logo">
        <div class="left_logo">
            <a href="index.html" class="bigLogo">
                <img src="{% static 'img/shop_182x60.png' %}"/>
                <span>中关村在线旗下网上商城</span>
            </a>
        </div>
        <div class="right_rst">
            还没有ZOL商城账号?
            <a href="{% url 'ZOL:register'%}">立即注册</a>
        </div>
    </div>
    <div class="loginBox">
        <div class="leftImg">
            <a href="#"><img src="{% static 'img/ad2.jpg' %}"/></a>
        </div>
        <div class="loginTab">
            <div class="login_head">
                <span>登录ZOL商城</span>
                <a href="#">手机动态码登录</a>
            </div>
            <form method="post" action="{% url 'ZOL:login' %}" >
                {% csrf_token %}
                <div class="content">
                    <div class="tipsBox"><i class="mistake_tips">{{ msg }}</i><span>请填写手机号/邮箱/用户名</span></div>
                    <div class="login_item">

                        <input type="text" class="_input name" id='username' name='username' placeholder="手机号/邮箱/用户名"/>

                    </div>
                    <div class="login_item">
                        <input type="password" class="_input pwd"  id="password" name="password" placeholder="密码"/>
                    </div>


                    <a href="#">忘记密码？</a>
                    <input type="submit" class="btn " id="login" value="登录"></input>
{#                    <input type="button" class="btn" value="登录"/>#}
                </div>
                <div class="login_foot">
                    <div class="xian"></div>
                    <p>合作账户登录</p>
                    <div class="xian"></div>
                    <div class="cptLogo">
                        <a href="#" class="weixin"></a>
                        <a href="#" class="weibo"></a>
                        <a href="#" class="qq"></a>
                        <a href="#" class="zhifubao"></a>
                        <a href="#" class="baidu"></a>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
<div class="bottom">
    <div class="footer">
        <a href="#">关于ZOL商城 </a><i>|</i>
        <a href="#">联系我们</a><i>|</i>
        <a href="#">帮助中心</a>
        <span>&copy;20162016. 中关村在线 版权所有</span>
    </div>
</div>
</body>
</html>
